name: Autograding Tests
'on':
- push
- repository_dispatch
permissions:
  checks: write
  actions: read
  contents: read
jobs:
  run-autograding-tests:
    runs-on: ubuntu-latest
    if: github.actor != 'github-classroom[bot]'
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    - name: sum
      id: sum
      uses: classroom-resources/autograding-io-grader@v1
      with:
        test-name: sum
        setup-command: ''
        command: npm run den
        input: |-
          5
          4
          1
        expected-output: '10'
        comparison-method: exact
        timeout: 10
    - name: Autograding Reporter
      uses: classroom-resources/autograding-grading-reporter@v1
      env:
        SUM_RESULTS: "${{steps.sum.outputs.result}}"
      with:
        runners: sum
